.cm-theme{
    width: 100%;
    border-radius: 4px;
    border-color: #7b79ff80;
    border-width: 1px;
}

.cm-editor{
    background-color: #181826 !important;
    border-radius: 4px;
}

.cm-gutters{
    background-color: #181826 !important;
    border-radius: 4px 0 0 4px;
}