.codemirror-editor-rounded .cm-editor {
  border-radius: 4px !important;
}

.codemirror-editor-rounded .cm-gutters {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.codemirror-editor-rounded .cm-scroller {
  border-radius: 4px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #646cff;
  color-scheme: light;
}

.react-grid-item {
  transition: all 0.2s ease;
}

.react-grid-item.cssTransforms {
  transition-property: transform, height, width;
}

.custom-resize-handle {
  transition: background-color 0.2s ease;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #646cff5e;
   border-radius: 0.5rem;
   height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -4px;

   /*custom styles*/
   background-color: #646cff;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  /* border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;  */
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}

/* data-grid.css */
.rdg {
  --border-color: #e5e7eb !important;
}

/* Cell borders */
.rdg-cell {
  border-right: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
    background-color: #fff !important;
    color: black;
}

/* Header borders */
.rdg-header-row .rdg-cell {
  border-bottom: 2px solid #d1d5db !important;
  background-color: #f8fafc !important;
}

/* Row borders */
.rdg-row:not(:last-child) .rdg-cell {
  border-bottom: 1px solid var(--border-color) !important;
}

/* Remove right border for last cell */
.rdg-cell:last-child {
  border-right: none !important;
}


.MuiDataGrid-cell--editing {
  background-color: #e3f2fd !important;
}
.changed-cell {
  background-color: #ffe7a4 !important;
  position: relative;
}

.react-grid-item.react-grid-placeholder { background: #646cff !important; }


