
.jsoneditor-statusbar{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

.codemirror-editor-rounded .cm-editor {
  border-radius: 4px !important;
}

.codemirror-editor-rounded .cm-gutters {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.codemirror-editor-rounded-bottom .cm-editor {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.codemirror-editor-rounded-bottom .cm-gutters {
  border-bottom-left-radius: 4px !important;
}