@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-y: hidden;
}
.markdown > * {
  all: revert;
}
:root {
  --scrollbar-track-bg: #ffffff;
  --scrollbar-thumb-bg: #cacaca;
  --scrollbar-thumb-corner: #ddd;
  --scrollbar-thumb-hover-bg: #cacaca;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  padding: 1;
  /* border-radius: 4px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 20px; */
  background-color: var(--scrollbar-thumb-bg);
  border: 1px solid var(--scrollbar-thumb-bg);
}
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-thumb-corner)
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg)
}
html {
  font-family: "Cabin", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Manrope", sans-serif;

  height: -webkit-fill-available;
  display: block;  
}
body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  display: block;

}
  .react-json-view{
  background-color: transparent !important;
  
  span{
    color: unset !important;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  
  --toastify-color-success: #7b79ff!important;
  --toastify-icon-color-success: var(--toastify-color-success)!important;
  --toastify-color-progress-success: var(--toastify-color-success)!important;
}
