.draggable-graph-item:dragging {
  opacity: 1 !important;
  border: 1px solid red !important
}
.draggable-drag-icon-main{
  min-width: 0 !important;
  margin-left: 10px;
                  
}
.draggable-drag-icon-main:hover{
  
    cursor: -webkit-grab; cursor: grab;
}